/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumb {
	width: 100%;

	//-------------------------------------------------------
	&__inner {
		display: flex;
		align-items: center;
		padding: 0 40px;
	}

	//-------------------------------------------------------
	&__item {
		border-right: 1px solid #231815;
		padding-right: 10px;
		margin-right: 10px;

		&:last-of-type {
			border: 0;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.5rem;
		line-height: 1.2;
		color: #231815;
		text-decoration: none;
		font-weight: bold;
	}
}
