/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	background: #E5E5E5;
	padding: 70px 0 0;
	@include sp {
		padding: 0;
	}

	//-------------------------------------------------------
	&__wrap {
		background: #fff;
		padding: 44px 0 0;
		@include sp {
			padding: 15px 0 0;
		}
	}

	//-------------------------------------------------------
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding: 0 2.63% 65px;
		@include sp {
			width: 100%;
			padding: 0;
			flex-wrap: wrap;
		}
	}

	//-------------------------------------------------------
	&__logo {
		margin: 8px 7.6% 0 8.5%;
		@include sp {
			width: 38px;
			margin: 0 auto;
			order: 1;
		}
	}

	//-------------------------------------------------------
	&__sitemap {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		@include sp {
			width: 100%;
			order: 2;
		}
	}

	//-------------------------------------------------------
	&__block {
		width: calc(100% / 3);
		border-left: 1px solid #999;
		padding: 0 3%;
		@include sp {
			width: 100%;
			padding: 0;
			border: 0;
		}

		//-------------------------------------------------------
		&:last-of-type {
			border-right: 1px solid #999;
			@include sp {
				border: 0;
			}
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.3rem;
		line-height: 1.2;
		color: #000;
		font-weight: bold;
	}

	//-------------------------------------------------------
	&__list {
		margin: 28px 0 0;
		@include sp {
			display: flex;
			flex-wrap: wrap;
			margin: 14px 0 19px;
		}
	}

	//-------------------------------------------------------
	&__list2 {
		margin: 40px 0 0;
		@include sp {
			margin: 0;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
	}

	//-------------------------------------------------------
	&__item1 {
		margin: 0 0 13px;
		@include sp {
			width: 49.5%;
			margin: 0 0 3px 1%;
			background: #3A5DAE;
		}

		&:nth-child(2n+1) {
			@include sp {
				margin: 0 0 3px;
			}
		}
	}

	//-------------------------------------------------------
	&__item2 {
		margin: 0 0 13px;
		@include sp {
			margin: 0;
			border-top: 1px dashed #ccc;
		}

		&:first-of-type {
			@include sp {
				border-top: 0;
			}
		}
	}

	//-------------------------------------------------------
	&__contact {
		text-align: center;
		margin: 13px 0 0;
		@include sp {
			order: 3;
			width: 100%;
			margin: 0;
			background: #E5E5E5;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: column-reverse;
			padding: 0 0 16px;
		}
	}

	//-------------------------------------------------------
	&__text1, &__text2 {
		font-size: 1.1rem;
		line-height: 1.3;
		color: #000;
		text-decoration: none;
		font-weight: bold;
		@include sp {
			font-size: 1.05rem;
			line-height: 1.1;
			display: block;
		}
	}

	//-------------------------------------------------------
	&__text1 {
		@include sp {
			color: #fff;
			padding: 12px 17px;
			position: relative;
		}

		//-------------------------------------------------------
		&::after {
			@include sp {
				content: '';
				width: 9px;
				height: 5px;
				background: url('/assets/img/common/icon/icon-arrow-right-white.png') no-repeat;
				background-size: cover;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
			}
		}
	}

	//-------------------------------------------------------
	&__text2 {
		@include sp {
			position: relative;
			padding: 6.5px 16px;
		}

		//-------------------------------------------------------
		&::after {
			@include sp {
				content: '';
				width: 9px;
				height: 5px;
				background: url('/assets/img/common/icon/icon-arrow-right-brown.png') no-repeat;
				background-size: cover;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
			}
		}
	}

	//-------------------------------------------------------
	&__text3 {
		font-size: 1.1rem;
		line-height: 1.5;
		color: #000;
		margin: 0 0 5px;
		font-weight: bold;
		@include sp {
			font-size: 0.9rem;
		}
	}

	//-------------------------------------------------------
	&__time {
		@include sp {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	//-------------------------------------------------------
	&__phone {
		font-size: 2rem;
		line-height: 1.5;
		font-weight: bold;
		color: #000;
		font-family: "Arial", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
		"ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ ゴシック",
		sans-serif;
		pointer-events: none;
		text-decoration: none;
		display: block;
		margin: 13px 0 0;
		white-space: nowrap;
		@include sp {
			font-size: 1.5rem;
			margin: 18px 0 0;
			pointer-events: auto;
		}
	}
}
