/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	$root: &;

	//-------------------------------------------------------
	&__inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-left: 2.1%;
		position: relative;
		@include sp {
			padding: 17px 0 15px;
			border-bottom: 1px solid #ccc;
		}
	}

	//-------------------------------------------------------
	&__wrap {
		width: calc(100% - 200px);
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include sp {
			display: none;
			width: 100%;
			position: absolute;
			top: 60px;
			left: 0;
			background: #fff;
			z-index: 999;
		}
	}

	//-------------------------------------------------------
	&__logo {
		width: 180px;
		margin: 12px 0 0;
		@include sp {
			width: 148px;
			margin: 2px 0 0 17px;
		}
	}

	//-------------------------------------------------------
	&__info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row-reverse;
		@include sp {
			flex-direction: column-reverse;
		}
	}

	//-------------------------------------------------------
	&__menu {
		display: flex;
		margin: 18px 0 0;
		@include sp {
			width: 100%;
			margin: 0;
			flex-wrap: wrap;
		}
	}

	//-------------------------------------------------------
	&__item {
		margin-left: 20px;
		@include sp {
			width: 100%;
			margin: 0;
			border-bottom: 1px dashed #ccc;
		}

		//-------------------------------------------------------
		&:last-of-type {
			@include sp {
				border: 0;
			}
		}

		//-------------------------------------------------------
		&:first-of-type {
			margin: 0;
		}
	}

	//-------------------------------------------------------
	&__contact {
		width: 240px;
		background: #10069f;
		position: relative;
		padding: 16px 0 10px 49px;
		@include sp {
			width: 100%;
			text-align: center;
			padding: 10px 0;
		}

		//-------------------------------------------------------
		&::before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 70px 50px 0 0;
			border-color: #fff transparent transparent transparent;
			position: absolute;
			top: 0;
			left: 0;
			@include sp {
				display: none;
			}
		}
	}

	//-------------------------------------------------------
	&__text1 {
		font-size: 1.3rem;
		line-height: 1.3;
		color: #000;
		text-decoration: none;
		font-weight: bold;
		position: relative;
		white-space: nowrap;
		padding: 18px 10px 18px 0;
		display: block;
		@include sp {
			padding: 15px 18px;		}

		//-------------------------------------------------------
		&.is-submenu {
			padding-right: 15px;
			cursor: pointer;

			//-------------------------------------------------------
			&::after {
				content: "";
				width: 5px;
				height: 5px;
				border-right: 2px solid #808080;
				border-bottom: 2px solid #808080;
				position: absolute;
				right: 4px;
				top: 50%;
				margin: -2px 0 0;
				transform: rotate(45deg) translateY(-50%);
				@include sp {
					right: 25px;
				}
			}

			//-------------------------------------------------------
			&:hover {
				~ .c-submenu {
					display: block;
					@include sp {
						display: none;
					}
				}
			}
		}
	}

	//-------------------------------------------------------
	&__text2 {
		font-size: 1.3rem;
		line-height: 1.3;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;
		text-align: center;
	}

	//-------------------------------------------------------
	&__phone {
		font-size: 2rem;
		line-height: 1.2;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		display: block;
		margin: 4px 0 0;
		letter-spacing: 0.8px;
		pointer-events: none;
		font-family: "Arial", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
		"ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ ゴシック",
		sans-serif;
		@include sp {
			pointer-events: auto;
		}

		//-------------------------------------------------------
		span {
			font-size: 1rem;
			margin-right: 2px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-submenu {
	width: 100%;
	padding: 35px 0 24px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	display: none;
	position: absolute;
	top: auto;
	left: 0;
	z-index: 3;
	transition: .5s ease-in-out;
	$root: &;
	@include sp {
		position: static;
		transition: none;
	}

	&:hover {
		display: block;
	}

	//-------------------------------------------------------
	&--col4 {
		#{$root}__item {
			width: calc(100% / 4);
			@include sp {
				width: 100%;
			}
		}
	}

	//-------------------------------------------------------
	&--col5 {
		#{$root}__item {
			width: calc(100% / 5);
			@include sp {
				width: 100%;
			}
		}
	}

	//-------------------------------------------------------
	&__inner {
		display: flex;
		flex-wrap: wrap;
		padding: 0 40px;
	}

	//-------------------------------------------------------
	&__item {
		width: calc(100% / 3);
		text-align: center;
		border-left: 1px solid #CCC;
		padding: 9px 1%;
		@include sp {
			width: 100%;
			border-left: 0;
		}

		&:first-of-type {
			border: 0;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.5rem;
		line-height: 1.5;
		color: #000;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 0.7px;
	}
}

/*
------------------------------------------------------------*/
.c-menuSP {
	$root: &;
	@include sp {
		position: absolute;
		top: 15px;
		right: 17px;
		box-sizing: border-box;
	}
	&__1,
	&__2,
	&__3 {
		@include sp {
			width: 22px;
			height: 2px;
			background-color: #000;
			margin: 7px auto;
			transition: 0.4s;
		}
	}

	//-------------------------------------------------------
	&.is-open {
		#{$root}__1 {
			transform: rotate(-405deg) translate(-5px, 6px);
		}

		#{$root}__2 {
			opacity: 0;
		}

		#{$root}__3 {
			transform: rotate(405deg) translate(-7px, -7px);
		}
	}
}
