/*------------------------------------------------------------
layout
------------------------------------------------------------*/

body {
	background: #fffdf7;
	// min-width: 1280px;
	@include sp {
		min-width: 320px;
		background: #fff;
	}
}

/*
------------------------------------------------------------*/
.l-container {
	// width: 1200px;
	margin: 0 auto;
}

/*
------------------------------------------------------------*/
.l-content1 {
	width: 900px;
	margin: 0 auto;
}