/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-btn {
	width: 100%;

	//-------------------------------------------------------
	&--center {
		text-align: center;
	}
}

/*
------------------------------------------------------------*/
.c-btngroup {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.c-btn1:nth-child(even) {
		margin: 0 15px;
	}

	.c-btn2:nth-child(even) {
		margin: 0 20px;
	}
}

/*
------------------------------------------------------------*/
.c-btn1 {
	display: inline-block;
	text-align: center;
	background: #3a5dae;

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.3;
		color: #fff;
		font-weight: bold;
		display: inline-block;
		min-width: 290px;
		text-decoration: none;
		padding: 11px 0;
	}

	//-------------------------------------------------------
	&--gray {
		background: #e5e5e5;
	}
}

/*
------------------------------------------------------------*/
.c-btn2 {
	display: inline-block;
	text-align: center;
	background: #B1B3B3;

	//-------------------------------------------------------
	&__text {
		display: inline-block;
		font-size: 1.4rem;
		line-height: 1.5;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		min-width: 100px;
		padding: 9.5px 0;
	}
}

/*
------------------------------------------------------------*/
.c-btn3 {
	display: inline-block;
	background: #B1B3B3;

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #fff;
		display: inline-block;
		min-width: 300px;
		padding: 13px 28px 13px 22px;
		box-sizing: border-box;
		text-decoration: none;
		position: relative;
		font-weight: bold;

		//-------------------------------------------------------
		&::after {
			content: '';
			width: 12.5px;
			height: 35px;
			background: url('/assets/img/common/icon/icon-arrow2-right-white.png');
			background-size: cover;
			position: absolute;
			top: 50%;
			right: 13px;
			transform: translateY(-50%);
		}
	}
}

/*
------------------------------------------------------------*/
.c-btn4 {
	display: inline-block;
	text-align: center;
	background: #10069F;

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #fff;
		font-weight: bold;
		display: inline-block;
		min-width: 300px;
		text-decoration: none;
		padding: 13px 0;
	}
}