/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
	text-align: center;
	padding: 0 0 14px;

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.6;
		color: #231815;
		font-weight: bold;
		position: relative;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 100px;
			border-top: 2px solid #251e1c;
			position: absolute;
			bottom: -14px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*
------------------------------------------------------------*/
.c-title2 {
	text-align: center;
	padding: 0 0 31px;

	//-------------------------------------------------------
	&__text {
		display: inline-block;
		font-size: 1.8rem;
		line-height: 1.5;
		color: #231815;
		font-weight: bold;
		border-bottom: 2px solid #000;
		box-sizing: border-box;
		padding: 0 11px 11px;
		position: relative;
		font-feature-settings: "palt";
		letter-spacing: 0.4px;

		//-------------------------------------------------------
		&::after {
			content: "";
			height: 32px;
			border-left: 2px solid #000;
			position: absolute;
			bottom: -33px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*
------------------------------------------------------------*/
.c-title3 {
	text-align: center;
	$root: &;

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #231815;
		font-weight: bold;
		position: relative;
		padding: 0 0 52px;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 150px;
			height: 27px;
			background: url("/assets/img/common/icon/icon-arrow-down-black.png");
			background-size: cover;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	//-------------------------------------------------------
	&--yellow {
		#{$root}__text {
			font-size: 1.2rem;
			line-height: 1.5;
			color: #fea621;
			padding: 0 0 17px;

			&::after {
				width: 62px;
				height: 15px;
				background: url("/assets/img/common/icon/icon-arrow-down-yellow.png");
				background-size: cover;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-title4 {
	width: 100%;
	background: #10069f;
	padding: 20px 36px 19px;

	//-------------------------------------------------------
	&__text {
		font-size: 2.1rem;
		line-height: 1.5;
		color: #fff;
		font-weight: bold;
	}
}

/*
------------------------------------------------------------*/
.c-title5 {
	width: 100%;
	text-align: center;

	//-------------------------------------------------------
	&__text {
		font-size: 2.4rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
		position: relative;
		padding: 0 0 16px;

		//-------------------------------------------------------
		&::after {
			content: "";
			min-width: 800px;
			border-bottom: 1px solid #000;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*
------------------------------------------------------------*/
.c-title6 {
	//-------------------------------------------------------
	&__text {
		font-size: 2.4rem;
		line-height: 1.75;
		color: #000;
		font-weight: normal;
	}
}

/*
------------------------------------------------------------*/
.c-title7 {
	text-align: center;

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #231815;
		font-weight: normal;
	}
}

/*
------------------------------------------------------------*/
.c-title8 {
	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #231815;
		border-left: 1px solid #231815;
		padding-left: 10px;
	}
}

/*
------------------------------------------------------------*/
.c-title9 {
	background: #10069F;
	position: relative;
	padding: 28px 35px 25px 70px;

	//-------------------------------------------------------
	&::before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 80px 40px 0 0;
		border-color: #b1b3b3 transparent transparent transparent;
		position: absolute;
		top: 0;
		left: 0;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #fff;
		font-weight: normal;
	}

	//-------------------------------------------------------
	&--icon {
		&::after {
			content: '';
			width: 18px;
			height: 9px;
			background: url(/assets/img/common/icon/icon-arrow-right-white.png) no-repeat;
			background-size: 100%;
			position: absolute;
			bottom: 20px;
			right: 14px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title10 {

	//-------------------------------------------------------
	&__inner {
		width: 900px;
		margin: 0 auto;
		border-top: 1px solid #B1B3B3;
		border-bottom: 1px dashed #B1B3B3;
		padding: 35px 0 36px 5px;
	}

	//-------------------------------------------------------
	&__text1 {
		font-size: 1.5rem;
		line-height: 1.5;
		color: #000;
		font-weight: bold;
	}

	//-------------------------------------------------------
	&__text2 {
		font-size: 2.1rem;
		line-height: 1.5;
		color: #000;
		margin: 22px 0 0;
	}
}
