/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-form1 {
	width: 800px;
	margin: 0 auto;
	$root: &;

	//-------------------------------------------------------
	&__note, &__note2 {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #251E1C;
		font-weight: bold;
		margin: 10px 0 0 3px;
		span {
			color: #FF0000;
		}
	}

	//-------------------------------------------------------
	&__note2 {
		margin: 10px 0 -10px;
	}

	//-------------------------------------------------------
	&__block {
		margin: 52px 0 0;
		padding: 0 0 62px;
		border-bottom: 1px solid #000;
	}

	//-------------------------------------------------------
	&__item {
		margin: 0 0 29px;
		&:last-of-type {
			margin: 0;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		padding-left: 3px;
	}

	//-------------------------------------------------------
	&__info {
		display: flex;
		flex-wrap: wrap;
		margin: 23px 0 0;
	}

	//-------------------------------------------------------
	&__list {
		width: 100%;
		margin: 8px 0 -12px;
		display: flex;
		flex-wrap: wrap;
	}

	//-------------------------------------------------------
	&__text1 {
		font-size: 1.6rem;
		line-height: 1;
		color: #251E1C;
		padding-left: 10px;
		border-left: 2px solid #251E1C;
		font-weight: bold;

		span {
			color: #FF0000;
		}
	}

	//-------------------------------------------------------
	&__input1 {
		width: 100%;
		border: 1px solid #999;
		height: 51px;
		font-size: 1.4rem;
		padding: 10px 10px;
		box-sizing: border-box;
		color: #000;
	}

	//-------------------------------------------------------
	&__input2 {
		width: 150px;
		position: relative;
		margin: -2px 30px 0 0;

		//-------------------------------------------------------
		input {
			width: 100%;
			border: 1px solid #999;
			height: 51px;
			line-height: 51px;
			font-size: 1.4rem;
			padding: 20px 10px;
			box-sizing: border-box;
			color: #000;
		}

		//-------------------------------------------------------
		&:last-of-type {
			margin: -2px 0 0;

			&::after {
				display: none;
			}
		}

		//-------------------------------------------------------
		&::after {
			content: '';
			width: 15px;
			border-top: 1px solid #000;
			position: absolute;
			top: 50%;
			right: -22px;
			transform: translateY(-50%);
		}
	}

	//-------------------------------------------------------
	textarea {
		width: 100%;
		height: 200px;
		font-size: 1.4rem;
		line-height: 1.65;
		padding: 10px 10px;
		border: 1px solid #999;
		box-sizing: border-box;
		resize: vertical;
	}

	//-------------------------------------------------------
	&__privacy {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		margin: -8px 0 -19px;

		//-------------------------------------------------------
		&__info {
			width: calc(100% - 350px);
		}

		//-------------------------------------------------------
		&__btn {
			width: 300px;
		}

		#{$root}__note2 {
			margin: 20px 0 0;
		}
	}

	//-------------------------------------------------------
	.c-checkbox {
		margin: 0 0 0 40px;
		&:first-of-type {
			margin: 0;
		}
	}

	.c-btn4 {
		margin: 71px 0 0;
	}
}