/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi1 {
	width: 100%;
	$root: &;

	//-------------------------------------------------------
	&--col3 {
		#{$root}__item {
			width: calc(100% / 3);
		}
	}

	//-------------------------------------------------------
	&--col4 {
		#{$root}__item {
			width: calc(100% / 4);
		}
	}

	//-------------------------------------------------------
	&--col5 {
		#{$root}__item {
			width: calc(100% / 5);
		}
	}

	//-------------------------------------------------------
	&__inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	//-------------------------------------------------------
	&__item {
		width: calc(100% / 2);
		background: #b1b3b3;
		border-left: 1px solid #fff;
		box-sizing: border-box;

		//-------------------------------------------------------
		&:first-of-type {
			border-left: 0;
		}

		//-------------------------------------------------------
		&.is-active {
			background: #333333;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		display: block;
		padding: 29px 34px 30px 30px;
		position: relative;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 18px;
			height: 10px;
			background: url("/assets/img/common/icon/icon-arrow-right-white.png");
			background-size: cover;
			position: absolute;
			right: 13px;
			bottom: 13px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-navi2 {
	width: 100%;

	//-------------------------------------------------------
	&__inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	//-------------------------------------------------------
	&__item {
		width: calc(100% / 5);
		border-left: 1px solid #fff;
		background: #3a5dae;

		//-------------------------------------------------------
		&:first-of-type {
			border: 0;
		}

		//-------------------------------------------------------
		&.is-active {
			background: #333333;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 2rem;
		line-height: 1.5;
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 25px 30px;
	}
}