/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgSingle {
	width: 100%;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

/*
------------------------------------------------------------*/
.c-imgtext1 {
	max-width: 1200px;
	width: calc(100% - 80px);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include sp {
		max-width: 100%;
		width: 100%;
		padding: 0 17px;
	}

	//-------------------------------------------------------
	&__img {
		width: 30.85%;
		max-width: 370px;
		@include sp {
			max-width: 100%;
			width: 100%;
			text-align: center;
		}

		img {
			width: 100%;
		}
	}

	//-------------------------------------------------------
	&__info {
		width: 65.834%;
		@include sp {
			width: 100%;
			margin: 19px 0 0;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.75;
		color: #251e1c;
		font-weight: bold;
		margin: 15px 0 0;
	}
}

/*
------------------------------------------------------------*/
.c-imgtext2 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	//-------------------------------------------------------
	&__img {
		width: 370px;
		text-align: center;
	}

	//-------------------------------------------------------
	&__info {
		width: calc(100% - 410px);
	}

	//-------------------------------------------------------
	&__block {
		margin: 101px 0 0;

		&:first-of-type {
			margin: 0;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #000;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 2.5rem;
		line-height: 1.75;
		color: #251e1c;
		margin: 41px 0 0;
	}
}

/*
------------------------------------------------------------*/
.c-imgtext3 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	$root: &;

	//-------------------------------------------------------
	&__img {
		width: 400px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__info {
		width: calc(100% - 500px);
		margin-left: 100px;
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 2.4rem;
		line-height: 1.5;
		color: #251E1C;
		font-weight: normal;
		margin: 0 0 18px;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.75;
		color: #251E1C;

		//-------------------------------------------------------
		+ #{$root}__text {
			margin: 24px 0 0;
		}
	}
}