/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    border-top: 1px solid #fff;
    $root: &;

    //-------------------------------------------------------
    &__item {
    	width: 23.45%;
    	background: #10068a;
    	border-left: 1px solid #fff;
        @include sp {
            width: 50%;
        }

        //-------------------------------------------------------
        &:first-of-type {
        	width: 53.1%;
        	border: 0;
            @include sp {
                width: 100%;
                border-bottom: 1px solid #fff;
            }

            #{$root}__inner {
                @include sp {
                    min-height: 75px;
                }
            }
        }

        //-------------------------------------------------------
        &:nth-child(2) {
            @include sp {
                border-left: 0;
            }
        }
    }

    //-------------------------------------------------------
    &__inner {
    	display: block;
    	text-decoration: none;
        padding: 44px 15px 30px 41px;
        height: 100%;
        min-height: 200px;
        box-sizing: border-box;
        position: relative;
        @include sp {
            padding: 15px 15px 15px 17px;
            min-height: 65px;
        }

        //-------------------------------------------------------
        &::after {
        	content: "";
        	width: 18px;
        	height: 10px;
        	background: url("/assets/img/common/icon/icon-arrow-right-white.png");
        	background-size: cover;
        	position: absolute;
        	right: 12px;
        	bottom: 17px;
            @include sp {
                width: 10px;
                height: 6px;
                background-size: contain;
                right: 6px;
                bottom: 8px;
            }
        }
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.8rem;
    	line-height: 1.5;
    	color: #fff;
    	font-feature-settings: "palt";
        @include sp {
            font-size: 1.05rem;
            letter-spacing: 0.6px;
        }
    }
}

/*
------------------------------------------------------------*/
.c-list2 {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    @include sp {
        padding: 0 17px;
    }

    //-------------------------------------------------------
    &__item {
    	width: 48.5%;
    	margin: 0 0 105px 3%;
        @include sp {
            width: 100%;
            margin: 0 0 26px;
        }

        //-------------------------------------------------------
        &:nth-child(2n + 1) {
            margin: 0 0 105px;
            @include sp {
                margin: 0 0 26px;
            }
        }
    }

    //-------------------------------------------------------
    &__ttl1 {
    	font-size: 1.4rem;
    	line-height: 1.5;
    	color: #000;
    	font-weight: bold;
    	margin-left: 40px;
        @include sp {
            font-size: 0.9rem;
            margin: 0;
        }
    }

    //-------------------------------------------------------
    &__ttl2 {
    	font-size: 2.4rem;
    	line-height: 1.5;
    	color: #fff;
    	font-weight: bold;
    	margin-right: 20px;
        @include sp {
            font-size: 1.5rem;
            margin-right: 10px;
        }
    }

    //-------------------------------------------------------
    &__inner {
    	margin: 30px 0 0;
    	display: block;
    	text-decoration: none;
    	position: relative;
        @include sp {
            margin: 8px 0 0;
        }

        //-------------------------------------------------------
        &::after {
        	content: "";
        	width: 18px;
        	height: 10px;
        	background: url("/assets/img/common/icon/icon-arrow-right-white.png");
        	background-size: cover;
        	position: absolute;
        	right: 14px;
        	bottom: 15px;
        	z-index: 2;
            @include sp {
                width: 10px;
                height: 6px;
                background-size: contain;
                right: 7px;
                bottom: 8px;
            }
        }
    }

    //-------------------------------------------------------
    &__img {
    	img {
    		width: 100%;
    		height: auto;
    	}
    }

    //-------------------------------------------------------
    &__info1 {
        max-width: 220px;
        max-height: 220px;
        width: 36%;
        height: 73.5%;
        background: #10068a;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 9% 6% 5% 4.5%;
        @include sp {
            max-width: 120px;
            max-height: 120px;
            width: 35%;
            height: 80%;
            padding: 18px 18px 15px 15px;;
        }
    }

    //-------------------------------------------------------
    &__info2 {
    	width: 100%;
    	background: #3a5dae;
    	display: flex;
    	align-items: center;
    	position: absolute;
    	right: 0;
    	bottom: 0;
    	padding: 2.7% 5%;
        @include sp {
            padding: 7px 16px;
        }
    }

    //-------------------------------------------------------
    &__text1 {
    	font-size: 1.5rem;
    	line-height: 1.5;
    	color: #fff;
    	font-weight: bold;
        @include sp {
            font-size: 1.05rem;
        }
    }

    //-------------------------------------------------------
    &__text2 {
    	font-size: 1.4rem;
    	line-height: 1.5;
    	color: #fff;
    	font-weight: bold;
        @include sp {
            font-size: 1.05rem;
        }
    }
}

/*
------------------------------------------------------------*/
.c-list3 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	$root: &;

    //-------------------------------------------------------
    &--col1 {
    	#{$root}__item {
    		width: 100%;
    	}
    }

    //-------------------------------------------------------
    &__inner {
    	display: flex;
    	align-items: center;
    	position: relative;
    	text-decoration: none;
    	padding: 31.5px 45px 31.5px 30px;
    	box-sizing: border-box;

    	//-------------------------------------------------------
    	&::after {
    		content: "";
    		width: 27px;
    		height: 72px;
    		background: url("/assets/img/common/icon/icon-arrow2-right-white.png");
    		background-size: cover;
    		position: absolute;
    		right: 13px;
    		top: 50%;
    		transform: translateY(-50%);
    	}
    }

    //-------------------------------------------------------
    &__item {
    	width: 595px;
    	background: #10069f;
    	margin: 0 0 10px 10px;

        //-------------------------------------------------------
        &:nth-child(2n + 1) {
        	margin: 0 0 10px;
        }

        //-------------------------------------------------------
        &--gray {
        	background: #b1b3b3;
        }

        //-------------------------------------------------------
        &--height {
        	#{$root}__inner {
        		min-height: 190px;
        	}
        }
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.8rem;
    	line-height: 1.5;
    	color: #fff;
    	font-weight: bold;
    	font-feature-settings: "palt";
    }
}

/*
------------------------------------------------------------*/
.c-list4 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 380px;
    	margin: 0 0 0 30px;

        //-------------------------------------------------------
        &:nth-child(3n + 1) {
        	margin: 0;
        }
    }

    //-------------------------------------------------------
    &__ttl {
    	font-size: 1.6rem;
    	line-height: 1.5;
    	color: #231815;
    	font-weight: bold;
    	text-align: center;
    }

    //-------------------------------------------------------
    &__img {
    	margin: 18px 0 18px;
    }

    //-------------------------------------------------------
    &__info {}

    //-------------------------------------------------------
    &__text {
    	font-size: 1.4rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    }
}

/*
------------------------------------------------------------*/
.c-list5 {
	width: 800px;
	margin: 0 auto;

    //-------------------------------------------------------
    &__item {
    	margin: 0 0 61px;
    	text-align: center;
    	border-top: 1px solid #000;
    	padding: 45px 0 0;
    	position: relative;

        //-------------------------------------------------------
        &::before {
        	content: "";
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 20px 20px 0 20px;
        	border-color: #10069f transparent transparent transparent;
        	position: absolute;
        	top: 0;
        	left: 50%;
        	transform: translateX(-50%);
        }
    }

    //-------------------------------------------------------
    &__ttl {
    	font-size: 2.4rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.8rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    	margin: 10px 0 0;
    }
}

/*
------------------------------------------------------------*/
.c-list6 {
	width: 595px;
	margin: 0 auto;

    //-------------------------------------------------------
    &__item {
    	position: relative;
    	margin: 0 0 18px;
    	padding-left: 40px;

        //-------------------------------------------------------
        &::before {
        	content: "";
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 5px 0 5px 20px;
        	border-color: transparent transparent transparent #10069f;
        	position: absolute;
        	top: 8px;
        	left: 0;
        }
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.8rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    	font-feature-settings: "palt";
    }
}

/*
------------------------------------------------------------*/
.c-list7 {
	width: 1200px;
	margin: 0 auto;

    //-------------------------------------------------------
    &__item {
    	border-top: 1px solid #000;
    	position: relative;
    	padding: 60px 40px 20px 76px;
    	margin: 0 0 65px;

        //-------------------------------------------------------
        &::before {
        	content: "";
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 50px 120px 0 0;
        	border-color: #cccccc transparent transparent transparent;
        	position: absolute;
        	top: 0;
        	left: 0;
        }

        //-------------------------------------------------------
        &::after {
        	content: "";
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 120px 50px 0 0;
        	border-color: rgba(16, 6, 159, 0.9) transparent transparent transparent;
        	position: absolute;
        	top: 0;
        	left: 0;
        }
    }

    //-------------------------------------------------------
    &__ttl {
    	font-size: 2.4rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.4rem;
    	line-height: 1.75;
    	color: #251e1c;
    	font-weight: bold;
    	margin: 20px 0 0 5px;
    }
}

/*
------------------------------------------------------------*/
.c-list8 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 220px;
    	margin: 0 0 0 25px;
    	text-align: center;
    	border: 3px solid #fea621;
    	box-sizing: border-box;
    	padding: 19px 0 18px;

    	&:first-of-type {
    		margin: 0;
    	}
    }

    //-------------------------------------------------------
    &__info {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	margin: 14px 0;
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.8rem;
    	line-height: 1.8;
    	color: #000;
    }
}

/*
------------------------------------------------------------*/
.c-list9 {

    //-------------------------------------------------------
    &__ttl {
    	font-size: 1.9rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    }

    //-------------------------------------------------------
    &__info {
    	margin: 23px 0 0;
    }

    //-------------------------------------------------------
    &__item {
    	border-top: 1px solid #000;
    	padding: 11.5px 0 11.5px 5px;

    	&:last-of-type {
    		border-bottom: 1px solid #000;
    	}
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.4rem;
    	line-height: 1.5;
    	color: #251e1c;
    	font-weight: bold;
    }
}

/*
------------------------------------------------------------*/
.c-list10 {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__card {
    	width: 380px;
    	margin: 0 0 0 40px;

    	&:nth-child(2n + 1) {
    		margin: 0;
    	}
    }
}

/*
------------------------------------------------------------*/
.c-list11 {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 290px;
    	margin: 0 0 0 15px;

    	&:nth-child(3n + 1) {
    		margin: 0;
    	}
    }

    //-------------------------------------------------------
    &__img {
    	img {
    		max-width: 100%;
    		height: auto;
    	}
    }

    //-------------------------------------------------------
    &__info {
    	margin: 13px 0 0;
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.2rem;
    	line-height: 1.5;
    	color: #251e1c;
    }
}

/*
------------------------------------------------------------*/
.c-list12 {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 340px;
    	margin-left: 30px;
    	border-top: 1px solid #808080;
    	position: relative;
    	padding: 12px 0 13px 18px;

        //-------------------------------------------------------
        &::before {
        	content: "";
        	width: 4px;
        	height: 4px;
        	background: #251e1c;
        	border-radius: 50%;
        	position: absolute;
        	left: 5px;
        	top: 50%;
        	transform: translateY(-50%);
        }

        //-------------------------------------------------------
        &:nth-child(3n + 1) {
        	margin: 0;
        }

        //-------------------------------------------------------
        &:last-of-type,
        &:nth-last-child(2),
        &:nth-last-child(3) {
        	border-bottom: 1px solid #808080;
        }
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.6rem;
    	line-height: 1.5;
    	color: #000;
    }
}

/*
------------------------------------------------------------*/
.c-list13 {
	width: 400px;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 120px;
    	margin: 0 0 20px 20px;

        //-------------------------------------------------------
        &:nth-child(3n+1) {
        	margin: 0 0 20px;
        }
    }

    //-------------------------------------------------------
    &__img {
    	img {
    		width: 100%;
    		height: auto;
    	}
    }
}

/*
------------------------------------------------------------*/
.c-list14 {
	width: 580px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 100px;
    	margin: 0 0 0 10px;

        //-------------------------------------------------------
        &:nth-child(5n+1) {
        	margin: 0;
        }
    }

    //-------------------------------------------------------
    &__img {
    	img {
    		width: 100%;
    		height: auto;
    	}
    }
}

/*
------------------------------------------------------------*/
.c-list15 {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

    //-------------------------------------------------------
    &__item {
    	width: 580px;
    	margin: 0 0 10px 40px;

    	&:nth-child(2n+1) {
    		margin: 0 0 10px;
    	}
    }

    //-------------------------------------------------------
    &__text {
    	font-size: 1.4rem;
    	line-height: 1.5;
    	color: #251E1C;
    	margin: 31px 0 52px 5px;
    }
}

/*
------------------------------------------------------------*/
.c-list16 {
	width: 900px;
	margin: 0 auto;

    //-------------------------------------------------------
    &__ttl {
    	font-size: 2.1rem;
    	line-height: 1.5;
    	color: #231815;
    	border-bottom: 1px solid #B1B3B3;
    	padding: 0 0 12px;
    }

    //-------------------------------------------------------
    &__inner {
    	margin: 2px 0 0;
    }

    //-------------------------------------------------------
    &__row {
    	display: flex;
    	flex-wrap: wrap;
    	border-bottom: 1px dashed #B1B3B3;
    	padding: 12.8px 0;
    }

    //-------------------------------------------------------
    &__col {

        //-------------------------------------------------------
        &1 {
        	width: 135px;
        	padding-left: 5px;
        }

        //-------------------------------------------------------
        &2 {
        	width: calc(100% - 135px);
        }
    }

    //-------------------------------------------------------
    &__label,
    &__text {
    	font-size: 1.5rem;
    	line-height: 1.55;
    	color: #000;
    	font-weight: bold;
    	text-decoration: none;
    }
}