/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1 {
	width: 418px;

	//-------------------------------------------------------
	&__row {
		display: flex;
		border-bottom: 1px solid #000;
		padding: 9px 0;
	}

	//-------------------------------------------------------
	&__col {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;

		&:not(:first-child) {
			text-align: center;
		}

		//-------------------------------------------------------
		&1 {
			width: 30px;
			padding-left: 2px;
		}
		&2 {
			width: 140px;
		}
		&3 {
			width: 108px;
		}
		&4 {
			width: 125px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-table2 {
	width: 900px;
	margin: 0 auto;

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #000;
	}

	//-------------------------------------------------------
	&__inner {
		margin: 26px 0 0;
	}

	//-------------------------------------------------------
	&__row {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #b3b3b3;
		padding: 8px 0 10px;

		&:last-of-type {
			border-bottom: 1px solid #b3b3b3;
		}
	}

	//-------------------------------------------------------
	&__col {
		//-------------------------------------------------------
		&1 {
			width: 67px;
			padding-left: 4px;
		}

		//-------------------------------------------------------
		&2 {
			width: calc(100% - 67px);
		}
	}

	//-------------------------------------------------------
	&__label {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #000;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #251e1c;
	}
}

/*
------------------------------------------------------------*/
.c-table3 {
	width: 900px;
	margin: 0 auto;

	//-------------------------------------------------------
	&__row {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #808080;
		padding: 10px 0 9px;

		&:last-of-type {
			border-bottom: 1px solid #808080;
		}
	}

	//-------------------------------------------------------
	&__col {
		//-------------------------------------------------------
		&1 {
			width: 170px;
			padding-left: 6px;
		}

		//-------------------------------------------------------
		&2 {
			width: calc(100% - 170px);
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.6rem;
		line-height: 1.75;
		color: #000;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.9;
		color: #000;
		letter-spacing: 0.8px;
	}
}

/*
------------------------------------------------------------*/
.c-table4 {
	width: 1000px;
	margin: 0 auto;

	//-------------------------------------------------------
	&__row {
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #fff;
		padding: 12.5px 0;

		&:last-of-type {
			border-bottom: 1px solid #fff;
		}
	}

	//-------------------------------------------------------
	&__col {
		//-------------------------------------------------------
		&1 {
			width: 175px;
			padding-left: 9px;
		}

		//-------------------------------------------------------
		&2 {
			width: calc(100% - 175px);
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #fff;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #fff;
		font-feature-settings: "palt";
		letter-spacing: 0.75px;
	}
}