/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
	width: 100%;
	position: relative;

	//-------------------------------------------------------
	&__slide {
		width: 100%;
	}

	//-------------------------------------------------------
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__item {
		img {
			width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__info {
		width: 400px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 9%;
		display: flex;
		align-items: center;
		padding: 0 0 5%;
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 5.5rem;
		line-height: 1.5;
		color: #fff;
		font-weight: bold;
		@include sp {
			font-size: 2.287rem;
		}
	}

	//-------------------------------------------------------
	&__new {
		width: 100%;
		position: absolute;
		bottom: 0;
		@include sp {
			position: relative;
		}
	}
}

/*
------------------------------------------------------------*/
.c-mainvisual2 {
	width: 100%;

	//-------------------------------------------------------
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__inner {
		width: 62%;
		margin: 0 auto;
		position: relative;
	}

	//-------------------------------------------------------
	&__info {
		text-align: right;
		position: absolute;
		right: 0;
		transform: translateY(-186%);
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.8;
		color: #000;
	}

}

/*
------------------------------------------------------------*/
.c-mainvisual3 {
	width: 100%;
	position: relative;

	//-------------------------------------------------------
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__info {
		position: absolute;
		top: 20.4%;
		left: 50%;
		transform: translateX(-50%);
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #fff;
		writing-mode: vertical-lr;
	}

}

/*
------------------------------------------------------------*/
.c-mainvisual4 {
	width: 100%;
	position: relative;

	//-------------------------------------------------------
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	//-------------------------------------------------------
	&__text {
		font-size: 2.1rem;
		line-height: 1.5;
		color: #fff;
	}

}

/*
------------------------------------------------------------*/
.c-new {
	max-width: 1000px;
	width: calc(100% - 80px);
	height: 70px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #fff;
	padding: 0 27px;
	@include sp {
		width: 100%;
		height: auto;
		padding: 24px 17px 13px;
	}

	//-------------------------------------------------------
	&__ttl {
		width: 105px;
		font-size: 1.4rem;
		line-height: 1.3;
		color: #000;
		font-weight: bold;
		@include sp {
			width: 100%;
			font-size: 1.05rem;
		}
	}

	//-------------------------------------------------------
	&__list {
		width: calc(100% - 225px);
		height: 100%;
		margin: 0 8px 0 34px;
		padding-right: 20px;
		@include sp {
			width: 100%;
			margin: 8px 0;
			padding-right: 0;
		}

		.slick-next {
			position: absolute;
			right: 2px;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			@include sp {
				width: 9px;
				height: 6px;
				top: auto;
				bottom: -23px;
				right: 68px;
			}
		}
		.slick-list, .slick-track {
			height: 100%;
			@include sp {
				height: auto;
			}
		}
	}

	//-------------------------------------------------------
	&__item {
	}

	//-------------------------------------------------------
	&__info {
		display: flex;
		align-items: center;
		height: 100%;
		@include sp {
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__time {
		width: 95px;
		font-size: 1.3rem;
		line-height: 1.5;
		color: #000;
		font-weight: bold;
		@include sp {
			width: 78px;
			font-size: 1.05rem;
		}
	}

	//-------------------------------------------------------
	&__name {
		width: calc(100% - 125px);
		font-size: 1.3rem;
		line-height: 1.5;
		color: #000;
		text-decoration: none;
		margin-left: 24px;
		font-weight: bold;
		@include sp {
			width: calc(100% - 80px);
			font-size: 1.05rem;
			margin-left: 2px;
		}
	}

	//-------------------------------------------------------
	&__more {
		width: 78px;
		@include sp {
			width: 100%;
			text-align: right;
		}
		a {
			font-size: 1.3rem;
			line-height: 1.5;
			color: #000;
			text-decoration: none;
			@include sp {
				font-size: 1.05rem;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-flow1 {
	width: 855px;
	margin: 0 auto;
	$root: &;

	//-------------------------------------------------------
	&__inner {
		display: flex;
		align-items: center;
		padding: 140px 0 0;

		//-------------------------------------------------------
		&:first-of-type {
			padding: 0;
		}
	}

	//-------------------------------------------------------
	&--col1 {
		justify-content: center;
	}

	//-------------------------------------------------------
	&--col2 {
		justify-content: space-between;

		//-------------------------------------------------------
		#{$root}__item {
			//-------------------------------------------------------
			&::before {
				content: "";
				width: 254px;
				border-top: 1px solid #000;
				position: absolute;
			}

			//-------------------------------------------------------
			&:nth-child(1) {
				//-------------------------------------------------------
				&::before {
					top: -65%;
					transform: rotate(-40.5deg);
					left: 4px;
				}

				//-------------------------------------------------------
				&::after {
					content: "";
					width: 200px;
					border-top: 1px solid #000;
					position: absolute;
					right: -110%;
					top: 63%;
				}
			}

			//-------------------------------------------------------
			&:nth-child(2) {
				&::before {
					top: -70%;
					transform: rotate(37deg);
					right: 3px;
				}
			}
		}
	}

	//-------------------------------------------------------
	&__item {
		width: 250px;
		text-align: center;
		position: relative;
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 3rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
		font-feature-settings: "palt";
		padding: 53px 0 27px;
		position: relative;

		//-------------------------------------------------------
		&::before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 23px 13px 0 13px;
			border-color: #10069f transparent transparent transparent;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.36rem;
		line-height: 1.6;
		font-weight: bold;
		color: #251e1c;
	}
}

/*
------------------------------------------------------------*/
.c-flow2 {
	width: 1200px;
	margin: 0 auto;

	//-------------------------------------------------------
	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 0 48px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		box-sizing: border-box;
		padding: 20px 0;
		position: relative;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 95px;
			height: 36px;
			background: url("/assets/img/common/icon/icon-arrow2-down-black.png");
			background-size: cover;
			position: absolute;
			left: 113px;
			bottom: -43px;
		}

		//-------------------------------------------------------
		&:last-of-type {
			padding: 0;

			&::after {
				display: none;
			}
		}
	}

	//-------------------------------------------------------
	&__ttl1 {
		width: 320px;
		text-align: center;
		font-size: 2.4rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
		font-feature-settings: "palt";
	}

	//-------------------------------------------------------
	&__ttl2 {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
	}

	//-------------------------------------------------------
	&__detail {
		width: calc(100% - 325px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 0 5px;
	}

	//-------------------------------------------------------
	&__info {
		width: calc(100% - 335px);
	}

	//-------------------------------------------------------
	&__img {
		width: 274px;
	}

	//-------------------------------------------------------
	&__text {
		margin: 22px 0 0;
		font-size: 1.4rem;
		line-height: 1.75;
		color: #251e1c;
		font-weight: bold;
	}

	//-------------------------------------------------------
	.c-list3__item {
		margin: 0;
		padding: 26.5px 30px;

		&:after {
			width: 18px;
			height: 50px;
			right: 18px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-flow3 {
	width: 550px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	//-------------------------------------------------------
	&__item {
		width: 230px;
		text-align: center;
		position: relative;

		&:last-of-type {
			&::after {
				display: none;
			}
		}

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 18px;
			height: 98px;
			background: url("/assets/img/common/icon/icon-arrow3-right-black.png");
			background-size: cover;
			position: absolute;
			top: 0;
			right: -55px;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #000;
		padding: 4px 0 8px;
		margin: 0 0 16px;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.75;
		color: #000;
		font-weight: bold;
	}
}

/*
------------------------------------------------------------*/
.c-flow4 {
	width: 1200px;
	margin: 0 auto;
	display: flex;

	//-------------------------------------------------------
	&__item {
		width: 230px;
		min-height: 200px;
		margin: 0 0 0 94px;
		border: 8px solid #80c41c;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 95px;
			height: 43px;
			background: url("/assets/img/common/icon/icon-row-flow4-1.png")
			no-repeat;
			background-size: contain;
			position: absolute;
			top: 50%;
			right: -103px;
			transform: translateY(-50%);
		}

		//-------------------------------------------------------
		&:first-of-type {
			margin: 0;
		}

		//-------------------------------------------------------
		&:last-of-type {
			&::after {
				display: none;
			}
		}

		//-------------------------------------------------------
		&--icon {
			&::after {
				height: 146px;
				background: url("/assets/img/common/icon/icon-row-flow4-2.png")
				no-repeat;
				background-size: contain;
			}
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 2.2rem;
		line-height: 1.5;
		color: #251e1c;
		font-weight: bold;
	}
}

/*
------------------------------------------------------------*/
.c-info1 {
	width: 800px;
	margin: 0 auto 107px;

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.75;
		color: #251e1c;
		font-weight: bold;
		margin: 31px 7px;
	}
}

/*
------------------------------------------------------------*/
.c-case1 {
	width: 1200px;
	margin: 0 auto 40px;
	background: #3a5dae;
	position: relative;

	//-------------------------------------------------------
	&::before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 250px 200px 0 0;
		border-color: #10069f transparent transparent transparent;
		position: absolute;
		top: 0;
		left: 0;
	}

	//-------------------------------------------------------
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		padding: 0 0 0 201px;
		text-decoration: none;
	}

	//-------------------------------------------------------
	&__name {
		width: 200px;
		padding: 15px 0 32px 24px;
		position: absolute;
		top: 0;
		left: 0;
	}

	//-------------------------------------------------------
	&__info {
		width: calc(100% - 230px);
	}

	//-------------------------------------------------------
	&__img {
		width: 200px;
		margin: 0 0 50px 30px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	//-------------------------------------------------------
	&__ttl {
		font-size: 2.4rem;
		line-height: 1.5;
		color: #fff;
		font-weight: normal;
	}

	// text of name
	//-------------------------------------------------------
	&__text1 {
		font-size: 2.4rem;
		line-height: 1.5;
		color: #fff;
		font-family: "DIN Alternate", sans-serif;
		position: relative;

		//-------------------------------------------------------
		&::after {
			content: "";
			width: 18px;
			height: 10px;
			background: url("/assets/img/common/icon/icon-arrow-right-white.png");
			background-size: cover;
			position: absolute;
			bottom: -32px;
			left: 43px;
		}

		span {
			font-size: 3rem;
		}
	}

	// text of info
	//-------------------------------------------------------
	&__text2 {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #fff;
		margin: 13px 0 0;
	}
}

/*
------------------------------------------------------------*/
.c-intro1 {
	width: 900px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 8px 0 9px;

	//-------------------------------------------------------
	&__ttl {
		width: 95px;
		font-size: 1.4rem;
		line-height: 1.5;
		color: #000;
		padding-left: 5px;
	}

	//-------------------------------------------------------
	&__list {
		width: calc(100% - 95px);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	//-------------------------------------------------------
	&__item {
		position: relative;
		padding-left: 7px;
		margin-right: 17px;

		//-------------------------------------------------------
		&::before {
			content: "";
			width: 3px;
			height: 3px;
			background: #251e1c;
			border-radius: 50%;
			position: absolute;
			left: 2px;
			top: 50%;
			transform: translateY(-50%);
		}

		//-------------------------------------------------------
		&:last-of-type {
			margin: 0;
		}
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #251e1c;
	}
}

/*
------------------------------------------------------------*/
.c-intro2 {
	width: 1200px;
	margin: 0 auto 60px;

	//-------------------------------------------------------
	&__inner {
		display: flex;
		flex-wrap: wrap;
		text-decoration: none;
	}

	//-------------------------------------------------------
	&__img {
		width: 600px;
	}

	//-------------------------------------------------------
	&__detail {
		width: 600px;
	}

	//-------------------------------------------------------
	&__info {
		margin: 20px 0 0 70px;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.8;
		color: #251E1C;
	}

	//-------------------------------------------------------
	.c-list13 {
		margin: 75px 0 0 70px;
	}
}

/*
------------------------------------------------------------*/
.c-link1 {

	//-------------------------------------------------------
	&__text {
		font-size: 1.4rem;
		line-height: 1.5;
		color: #2E58A6;
		font-weight: bold;
	}
}

/*
------------------------------------------------------------*/
.c-link2 {
	position: relative;
	padding-left: 12px;

	//-------------------------------------------------------
	&::before {
		content: '';
		width: 7px;
		height: 7px;
		border-top: 2px solid #000;
		border-left: 2px solid #000;
		position: absolute;
		left: 0;
		top: 50%;
		transform: rotate(-45deg) translateY(-50%);
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.3rem;
		line-height: 1.6;
		color: #000;
		font-weight: bold;
		text-decoration: none;
	}
}

/*
------------------------------------------------------------*/
.c-archive {

	//-------------------------------------------------------
	&__ttl {
		font-size: 1.8rem;
		line-height: 1.5;
		color: #231815;
		font-weight: bold;
		border-bottom: 1px solid #B1B3B3;
		padding: 0 0 12px;
	}

	//-------------------------------------------------------
	&__list {
		margin: 21px 0 0;
	}

	//-------------------------------------------------------
	&__item {
		margin: 0 0 7px;
		padding-left: 3px;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.5rem;
		line-height: 1.5;
		color: #000;
		text-decoration: none;
		font-feature-settings: "palt";
	}
}

/*
------------------------------------------------------------*/
.c-checkbox {
	padding-left: 33px;
	box-sizing: border-box;
	$root: &;

	//-------------------------------------------------------
	input[type="checkbox"] {
		display: none;
	}

	//-------------------------------------------------------
	&__text {
		font-size: 1.6rem;
		line-height: 1.5;
		color: #251E1C;
		cursor: pointer;
		position: relative;
		font-weight: bold;
		font-feature-settings: "palt";

		//-------------------------------------------------------
		&::before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid #999;
			box-sizing: border-box;
			background-color: transparent;
			background: #fff;
			position: absolute;
			top: 1px;
			left: -33px;
		}
	}

	//-------------------------------------------------------
	input[type="checkbox"]:checked + #{$root}__text:after {
		content: "";
		width: 4px;
		height: 10px;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		transform: rotate(45deg) translate(-50%);
		position: absolute;
		top: 5px;
		left: -23px;
	}
}